.containerAtivo {
  width: 450px;
  border: 1px solid green;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  text-align: center;
}

.containerInativo {
  width: 450px;
  border: 1px solid red;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(192, 98, 98, 0.1);
  margin: 16px;
  text-align: center;
}

.ativo {
  color: green;
}

.inativo {
  color: red;
}
